

    <!-- About Section -->
    <div id="about">
    <section class="bg-light-gray" id="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>This work aims to enhance the signal acquisition and processing chain required in remote systems. The motivation is to reduce their size, cost, processing noise, electromagnetic emission and especially power consumption. The classical or uniform sampling based techniques process the signal by employing a fixed order filter, which operates at a fixed sampling rate. Because of this nature, they are considered highly constrained in the case of low activity sporadic signals. </p>
                </div>
                <div class="col-lg-5">
                    <p> To resolve this shortcoming, a filtering technique based on adaptive rate sampling is proposed. The focus is to achieve an efficient filtering technique by employing both uniform and non-uniform processing tools. This technique is based on EDS (Event-Driven Sampling), which adapts the sampling rate according to the input signal local variations and therefore reduces the processing activity.  </p>
                </div>
            </div>
        </div>
    </section>
</div>