
<!-- projects Grid Section -->

<section id="docs">
<div class="container"> 
    <div class="row">
         <div class="col-lg-12 text-center">
             <h2>Documents</h2>
             <hr class="star-primary">
             <h3>Documents about our project</h3>
         </div>
    </div>
 



<div class="row">
     {% for project in site.data.docsdb %}
  <div class="col-sm-6 col-md-4 projects-item">
    <div class="thumbnail">
          
      <div class="caption">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <p><a href="{{ project.url | prepend: site.baseurl }}" target="_blank" class="btn btn-default" role="button">View File &raquo;</a></p>
      </div>
    </div>
  </div>
          {% endfor %}

</div>

 
</div>
</section>



 