
      <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Capstone</div>
                <div class="intro-lead-in">Efficient Fltering Technique based on adaptive rate sampling</div>
                <p>Information theory is really like a symphony. You see themes coming out, those themes get repeated, they get repeated again with more and more complexity each time and when you understand the simple idea of the theme, then you understand what's going on</p>

            </div>
        </div>
    </header>