
     <section class="bg-light-gray" id="imp">

<!-- projects Grid Section -->

  <div class="container">
           <div class="container"> 
    <div class="row">
         <div class="col-lg-12 text-center">
             <h2>Implementation</h2>
             <hr class="star-dark">
             <h3>Modules Developed</h3>
         </div>
    </div>
 
 
</div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                     <div class="thumbnail">
          
      <div class="caption">
        <h3>Software Implemenation</h3>
        <p>Matlab Implemenation</p>
        <p><a href="#" target="_blank" class="btn btn-default" role="button">More Details &raquo;</a></p>
      </div>
    </div>

                </div>
                <div class="col-lg-5">
                    <div class="thumbnail">
          
      <div class="caption">
        <h3>Hardware Implemenation</h3>
        <p>Implemenation on fpga</p>
        <p><a href="#" target="_blank" class="btn btn-default" role="button">More Details  &raquo;</a></p>
      </div>
    </div>
                </div>
            </div>
        </div>

</section>



 