
<!-- projects Grid Section -->

<section id="projects">
<div class="container"> 
    <div class="row">
         <div class="col-lg-12 text-center">
             <h2>Refrences</h2>
             <hr class="star-primary">
             <h3>List of all the documents and references used</h3>
         </div>
    </div>
 


<div class="row"> 

         {% for project in site.data.projectsdb %}

<div class="panel panel-default">
  <div class="panel-heading">{{ project.name }}</div>
  <div class="panel-body">
   {{ project.description }}
    <div class="panel-body">
          <a href="{{ project.url }}" target="_blank" class="btn btn-default" role="button">Open File &raquo;</a>
         <a href="#{{ project.index }}"  data-toggle="modal"  class="btn btn-default" role="button">Description &raquo;</a>

 </div> 

</div>

</div>
          {% endfor %}
</div>

</section>


  

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>This work aims to enhance the signal acquisition and processing chain required in remote systems. The motivation is to reduce their size, cost, processing noise, electromagnetic emission and especially power consumption. The classical or uniform sampling based techniques process the signal by employing a fixed order filter, which operates at a fixed sampling rate. Because of this nature, they are considered highly constrained in the case of low activity sporadic signals. To resolve this shortcoming, a filtering technique based on adaptive rate sampling is proposed. The focus is to achieve an efficient filtering technique by employing both uniform and non-uniform processing tools. This technique is based on EDS (Event-Driven Sampling), which adapts the sampling rate according to the input signal local variations and therefore reduces the processing activity. By employing the EDS features, an EDADC (Event-Driven Analog to Digital Converter) </p>
                </div>
                <div class="col-lg-5">
                    <p>model has been developed to digitize a band-limited analog signal. The relevant active part of the non-uniformly sampled signal is selected and windowed by employing ASA (Activity Selection Algorithm). ASA displays interesting features with EDS, which are not available in the classical case. An offline reference FIR (Filter Impulse Response) filters bank is designed for the targeted application. The idea is to compare the results of the reference filtering with that of the proposed filtering. The proposed technique performance has been studied for a speech application. The goal is to determine the speakers gender. It can be done by measuring the speakers pitch. The computational complexity and the output quality of the proposed technique are compared to the classical one. Results show a drastic reduction in the total number of operations and therefore the power consumption.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download The Beta Article
                    </a>
                </div>
            </div>
        </div>
    </section>


    
  {% for project in site.data.projectsdb %}

<!-- projects Modals -->
    <div class="projects-modal modal fade" id="{{ project.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h4>{{ project.name }}</h4>
                            <hr class="star-primary">
                             <p>{{ project.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Author:
                                    <strong><a href="{{ project.url }}">{{ project.author }}</a>
                                    </strong>
                                </li>
                                <li><i class="fa fa-globe"></i>
                                    <strong><a href="{{ project.url }}" target="_blank" >: File</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endfor %}


 