
<!-- projects Grid Section -->

<section id="projects">
<div class="container"> 
    <div class="row">
         <div class="col-lg-12 text-center">
             <h2>Refrences</h2>
             <hr class="star-primary">
             <h3>List of all the documents and references used</h3>
         </div>
    </div>
 


<div class="row"> 

         {% for project in site.data.projectsdb %}

<div class="panel panel-default">
  <div class="panel-heading">{{ project.name }}</div>
  <div class="panel-body">
   {{ project.description }}
    <div class="panel-body">
          <a href="{{ project.url }}" target="_blank" class="btn btn-default" role="button">Open File &raquo;</a>
         <a href="#{{ project.index }}"  data-toggle="modal"  class="btn btn-default" role="button">Description &raquo;</a>

 </div> 

</div>

</div>
          {% endfor %}
</div>

</section>


  

    
  {% for project in site.data.projectsdb %}

<!-- projects Modals -->
    <div class="projects-modal modal fade" id="{{ project.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h4>{{ project.name }}</h4>
                            <hr class="star-primary">
                             <p>{{ project.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Author:
                                    <strong><a href="{{ project.url }}">{{ project.author }}</a>
                                    </strong>
                                </li>
                                <li><i class="fa fa-globe"></i>
                                    <strong><a href="{{ project.url }}" target="_blank" >: File</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endfor %}


 